.my-button{
width: 200px;
height: 50px;
font-size: 30px;
background-color: rgb(255, 47, 220);
color:white;
border: 1px solid goldenrod;

}
.my-button2{
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(78, 47, 255);
    color:white;
    border: 1px solid goldenrod;
    
    }
    .my-button3{
        width: 200px;
        height: 50px;
        font-size: 30px;
        background-color: rgb(47, 255, 64);
        color:white;
        border: 1px solid goldenrod;
        border-radius: 5px;

        
        }
        