#div1{
border: 1px solid red;
text-align: center;

height: 250px;
width: 300px;
padding: 10px;
margin: 80px;
color:black;

}
#submit{

    color:white;
    background-color: green;
    margin-left: 10px;
    text-shadow: 1px 1px red;

}
#reset{
background-color: black;
color: white;
margin-left: 20px;
text-shadow: 1px 1px red;


}

    




